@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

/* The universal selector, or wildcard, will match elements of any type. It is used here to implement border-box and reset the margins on all elements. */
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: hsl(212, 45%, 89%);
  min-height: 100vh;
  display: grid;
  place-items: center;
  font-family: "Outfit", sans-serif;
  font-size: 15px;
}

.container {
  max-width: 360px;
  background-color: hsl(0, 0%, 79%);
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 0 ;
}

.container img {
  max-width: 100%;
  height: auto;
  border-radius: 0.75rem;
}

.text-wrapper {
  padding: 1.5rem 1.25rem;
  text-align: center;
}

.text-wrapper h2 {
  color: hsl(217, 90%, 27%);
  font-weight: 700;
  padding-bottom: 1rem;
}

.text-wrapper p {
  /*color: hsl(220, 15%, 55%);*/
  color: hsl(0, 0%, 16%);
  font-weight: 400;
  font-size: 1rem;
}
@media screen and (max-width: 480px) {
  .container {
    max-width: 300px;
  }
}

@media screen and (max-width: 360px) {
  .container {
    max-width: 250px;
  }
}